server:
  port: 8181
  servlet:
    context-path: /TLMuseumGate/REST
springdoc:
  swagger-ui:
    path: /swagger-ui.html
spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/ticket_terminal?characterEncoding=UTF-8&useUnicode=true
    username: admin
    password: pass
  liquibase:
    change-log: classpath:db-changelog/db.changelog-master.yml
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
  jackson:
    serialization:
      write-dates-as-timestamps: false
application:
  allowed-origins:
    - "http://localhost:*"
    - "http://localhost:1420"
    - "https://tauri.localhost"
    - "tauri://localhost"
    - "http://192.168.1.76:*"
    - "http://192.168.1.76:1420"
  clients:
    tonline-gate:
      url: http://localhost:8181
      login: Admin
      password: Admin123
logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN
    com.ticket.terminal: INFO
